*{
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: #000000;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    border-radius: 10px;
    background-color: #CCCCCC;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #000000;
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}

.item {
    text-decoration: none;
    color: #000000;
}
.item:hover {
    color: #ffffff;
    background-color: rgb(190, 190, 190);
    transition: all .4s;
}
.item span:nth-child(3){
    font-weight: bold;
    color: #66ff00;
}

.border-circle-btn {
    background-color: #dfdfdf;
    border: none;
    border-radius: 50%;
    padding: 3px;

}